.Dictionary h3 {
  color: #233142;
  font-size: 18px;
  font-weight: 600;
  padding: 10px;
}

.Dictionary input {
  border-radius: 5px;
  padding: 5px;
}

.Dictionary .search-button {
  background-color: #f95959;
  border: 2px solid #f95959;
  color: white;
  font-weight: 600;
  padding: 5px 10px;
  margin-left: 5px;
}

.Dictionary .search-button:hover {
  background-color: white;
  color: #f95959;
}
