.Dictionary .dictionary-header {
  background-color: #fcfefe;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 0 auto;
  padding: 10px 0 20px 0;
  max-width: 500px;
  width: 80%;
}

.Dictionary h3 {
  color: #233142;
  font-size: 18px;
  font-weight: 600;
  padding: 10px;
}

.Dictionary input {
  border-radius: 5px;
  padding: 5px;
}

.Dictionary .search-button {
  background-color: #66bfbf;
  border: 2px solid #66bfbf;
  color: #233142;
  font-weight: 600;
  padding: 5px 10px;
  margin-left: 5px;
}

.Dictionary .search-button:hover {
  background-color: white;
  color: #66bfbf;
}
